@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,900&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --dark-color: #0c0c0c;
    --light-color: #f8f8f8;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-color);
}

.bg-dark-override {
    background-color: var(--dark-color);
}

.bg-light-override {
    background-color: var(--light-color);
}

.text-dark-override {
    color: var(--dark-color);
}

.text-light-override {
    color: var(--light-color);
}

.uppercase {
    text-transform: uppercase;
}

.nav-item {
    color: var(--light-color);
}

.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.welcome h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 900;
    font-style: italic;
    font-size: 4.5em;
    /* margin: 0; */
}
  
.welcome p {
    font-family: 'Nunito', sans-serif !important;
    line-height: 25px;
    font-size: 1.25em;
}
  
#blinking-cursor {
    -webkit-animation: blink 1.5s infinite;
}
  
@-webkit-keyframes blink {
    0% {color: var(--light-color)}
    50% {color: var(--dark-color)}
    100% {color: var(--light-color)}
}

section {
    scroll-margin-top: 1em;
}

section h2 {
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
  
hr {
    border-style: solid;
    border-width: 1.5px;
    width: 20%;
}

.hr-dark {
    border-color: var(--dark-color);
}

.hr-light {
    border-color: var(--light-color);
}

a {
    text-decoration: none;
}

.about-desc {
    padding: 0 8%;
}

.about-desc a {
    color: var(--dark-color);
}

#experience-row {
    padding: 0 5%;
}

.logo {
    padding: 8% 0;
}

#saperium-logo {
    width: 60%;
}

#up-acm-logo {
    width: 40%;
}

#aka-logo {
    width: 40%;
}

.col-spacing {
    padding: 0 8%;
}

#experience-row ul {
    padding: 0;
    text-align: left;
}

#experience-row a {
    color: var(--light-color);
}

.carousel {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.hideme {
    opacity: 0;
}

#footer {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    font-size: 1.5rem;
}

.social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline;
    padding: 0 0.4rem;
}

.carousel-inner a, .social-icons a {
    color: var(--light-color);
}

.carousel-image {
    object-fit: contain;
}